<h1>Seja bem vindo</h1>

<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
    <div class="tile-stats">
        <div class="icon"><i class="fa fa-comments-o"></i></div>
        <div class="count"><%= @user_statistics.total_questions %></div>
        <h3>Total</h3>
        <p>Questões respondidas</p>
    </div>
</div>

<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
    <div class="tile-stats">
        <div class="icon"><i class="fa fa-check-square-o"></i></div>
        <div class="count"><%= @user_statistics.right_questions %></div>
        <h3>Certas</h3>
        <p>Verifique as questões que acertou</p>
    </div>
</div>

<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
    <div class="tile-stats">
        <div class="icon"><i class="fa fa-sort-amount-desc"></i></div>
        <div class="count"><%= @user_statistics.wrong_questions %></div>
        <h3>Erradas</h3>
        <p>Verifique as questões que errou</p>
    </div>
</div>

<p><%= link_to 'Fazer logoff', destroy_user_session_path, method: :delete %></p>